# 控制器

__pycache__
build/
dist/
image/
doc/
deploy.bat
jcy 控制器.spec
jcy 控制器.exe
package.bat
startup.bat
accounts.json
settings.json
.version
terror_zone.json
win.json
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/demon_head.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/demon_head.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/gargoyle_head.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/gargoyle_head.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/preserved_head.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/preserved_head.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/unraveller_head.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/unraveller_head.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/zombie_head.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/armor/voodoo_head/zombie_head.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/chipped_skull.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/chipped_skull.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/flawed_skull.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/flawed_skull.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/flawless_skull.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/flawless_skull.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/perfect_skull.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/perfect_skull.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/skull.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/misc/gem/skull.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/blackhand_key.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/blackhand_key.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/bone_wand.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/bone_wand.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/gravenspine.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/gravenspine.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/grim_wand.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/grim_wand.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/iros_torch.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/iros_torch.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/wand.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/wand.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/yew_wand.lowend.sprite
jcy/jcy.mpq/data/hd/global/ui/items/weapon/wand/yew_wand.sprite
